

#uwu2 {
  font-size: 2rem;
  text-align: center;
  transition: font-size 0.2s, text-shadow 0.2s;

}

#uwu2:hover {
  font-size: 2.2rem;
  transition: font-size 0.2s, text-shadow 0.2s;
  text-shadow: 0px 0px 20px rgb(248, 196, 196);
}

#text {
  font-size: 1.5rem;
  text-align: center;

}



.weirdfont {
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
}



#txt {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}


body{ 
  background-image: url("./bg.png");
}


#bubble-container{
  position:relative;
  display:flex;
  justify-content:center;
  align-items: center;
  height: 310px;
  width: 510px;
  background-image: url("./speechbubble.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#bubble-text{
  margin: 0;
  font-size: 2rem;
}

#speech-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

#aboutme1 {
  font-size: 2rem;
  text-align: center;
}

#aboutme2 {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

#bsky-button {
  position:relative;
  display:flex;
  justify-content:center;
  align-items: center;

}

button {
 padding-left: 33px;
 padding-right: 33px;
 padding-bottom: 16px;
 padding-top: 16px;
 border-radius: 9px;
 background:#8ac5ec;
 border:none;
 font-family: "VT323", serif;
 font-weight: 400;
 font-style: normal;
 font-size: 2rem;
 color:aliceblue;
 cursor: pointer;
 transition: 0.3s;

}
 
button:hover {
  box-shadow: 7px 5px 56px -14px #d5d3f7;
  
}


