

#uwu2 {
  font-size: 2rem;
  text-align: center;
  transition: font-size 0.2s, text-shadow 0.2s;

}

#uwu2:hover {
  font-size: 2.2rem;
  transition: font-size 0.2s, text-shadow 0.2s;
  text-shadow: 0px 0px 20px rgb(248, 196, 196);
}

#text {
  font-size: 1.5rem;
  text-align: center;

}

.weirdfont {
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
}



#txt {
  font-size: 2rem;
}


body {
  background-color: rgb(9, 3, 26);
}


#bubble-container{
  position:relative;
  display:flex;
  justify-content:center;
  align-items: center;
  height: 310px;
  width: 510px;
  background-image: url("./speechbubble.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#bubble-text{
  margin: 0;
  font-size: 2rem;
}

#speech-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}